body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(220,4,108);
    display: flex;
    height: 95vh;
    flex-direction: column;
    gap: 1%;
}

.header {
    width: 100%;
    height: 10%;
    background-color:rgb(10,49,96);
    display: flex;
    justify-content: left;
    align-items: center;
}

.container {
    height: 90%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha channel (last value) to control transparency */
}



.table2 {
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha channel (last value) to control transparency */
    border-spacing: 15px; /* Adjust the spacing to your preference */
    width: 60%; /* Adjust the width percentage to your preference */
    height: 100%;
    margin: auto; /* Center the table horizontally */
    padding: 3%;
}

.table2 th,
.table2 td {
    padding: 0px; /* Adjust the padding to your preference */
}



