body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(220,4,108);
    display: flex;
    height: 95vh;
    flex-direction: column;
    gap: 1%;
}

.header {
    width: 100%;
    height: 10%;
    background-color:rgb(10,49,96);
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    overflow: visible;
}

.container {
    height: 90%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha channel (last value) to control transparency */
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainPage4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: transparent;
}

.anouncements {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #000; /* Black border */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
    padding: 1%;
    overflow: auto;
}



::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }

.anouncements strong {
    left: 10%;
}

#mainPage1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

#tableNS {
    display: flex;
    height: 95%;
    justify-content: center;
    align-items: center;
}

.table2 {
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha channel (last value) to control transparency */
    border-spacing: 15px; /* Adjust the spacing to your preference */
    display: flex;
    width: 60%; /* Adjust the width percentage to your preference */
    height: 90%;
    margin: auto; /* Center the table horizontally */
    padding: 3%;
    overflow: auto;
}

.table2 th,
.table2 td {
    padding: 0px; /* Adjust the padding to your preference */
}

#loginDiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
}

#loggedInDiv {
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    left: 25%;
}



