.menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    
    
  }

  .menu-icon:hover {
    transform: scale(1.2);
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 5%; /* Position it below the menu icon */
    left: 95%; /* Center it horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1; /* Ensure the dropdown is on top */
    width: 10%;
    overflow: visible; /* Allow the dropdown to overflow */
  }

  .menu-item {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
  }

  .menu-item:hover {
    background-color: #555;
  }