body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3498db;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .dashboard {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
  }

  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px; /* Adjust the height to fit your content */
  }

  .form-top-left {
    grid-row: 1;
    grid-column: 1;
  }